<?xml version="1.0"?>
<launch>
    <arg name="name" default="test1" />
    <arg name="bagfile" default="$(find apriltag_toolbox)/resources/$(arg name).bag" />
    <arg name="rviz_config" default="$(find apriltag_toolbox)/rviz/example.rviz" />

    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg bagfile)" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" /> -->

    <!-- apriltag detection node -->
    <node pkg="apriltag_toolbox" type="mapper_main.py" name="apriltag_node" clear_params="true" output="screen">
        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="/rgb_publisher/color/image" />
        <remap from="camera_info" to="/rgb_publisher/color/camera_info" />

        <!-- load parameters (incl. tag family, tags, etc.) -->
        <rosparam command="load" file="$(find apriltag_toolbox)/config/apriltag.yaml"/>
    </node>

    <!-- mapper node -->
    <!-- <node pkg="apriltag_toolbox" type="mapper_node.py" name="mapper_node">
        <remap from="apriltags" to="/tag_detections" />
        <remap from="camera_info" to="/rgb_publisher/color/camera_info" />
    </node> -->
</launch>
